@charset "utf-8";

/*ブログページ共通----------------
---------------------------------------------------------*/
.blogpages {
    background-color: #F1F0EF;
}
#head_navi .head_nav .bloggray {
    border-bottom: 0px solid #F1F0EF;
    //ナビゲーションメニューの下線
}

/*代表ブログ---------------------------
---------------------------------------------------*/
//カバーエリア
    .cover_area_kimiblog {
        background-image: url("../images/blog/kimiheroimg_pc.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        

        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/blog/kimiheroimg_pc.jpg");
        }

        .cover_title_kimi{
            width: 96%;
            max-width: 1024px;
            margin: 0 auto;
            display: flex;
        }

        img {
            margin-top: 50px;
        }

        p{
            color: #fff;
            line-height: 1.5;
            letter-spacing: 0.2rem;
            margin: 90px 0 0 120px;
        }
    }

//2カラム設定 （ブログページ）
    #content {
        justify-content: space-between;

        #blog {
            max-width: 700px;
        }
        .widget {
            width: 240px;
        }
    }


//ブログ部分
    #blog {
        margin-top: 50px;

        .date , .kimiblogcate {
            margin-left: 30px;
            @include fontsize(12);
            line-height: 3;
        }
        .kimiblogcate , .lunchblogcate {
                padding: 0 10px;
                width: 60px;
                margin-left: 10px;
                @include fontsize(11);
            }

        .blog-title {

            img{
                float: left;
                margin-bottom: 10px;
            }
            h2 {
                @include fontsize(26);
                font-weight: bold;
                padding: 30px 0 50px 270px;
            }

            p {
                clear: both;
                border-top: 1px solid #333;
                padding-top: 40px;
                line-height: 2;
                letter-spacing: 0.1rem;
            }
        }


        .page_navi {
            text-align :center;
            margin-top: 50px;

            a {
                text-decoration: none;
                color: #333;
                width: 180px;
                height: 20px;
                line-height: 20px;
                border: 1px solid #a6a6a6;
                padding: 10px 30px;
                display: inline-block;
            }
            .goprevious {
                text-align: right;
            }
            .gonext {
                text-align: left;
            }

            .goindex {
                margin-top: 20px;
                width: 100px;
                height: 14px;
                line-height: 14px;
                padding: 5px;
                border-radius: 6px;
            }
        }

        .snsbutton {
            text-align: center;
            margin-top: 30px;
        }

    }

//ウィジェット
.widget {
    box-sizing: border-box;
    padding-left: 20px;
    margin-top: 50px;

    .widget-item {
        height: 200px;
        background-color: #c5c5c5;
        margin-bottom: 10px;
    }

    .gotococolunch {
        margin-top: 20px;
        text-decoration: none;
        color: #fff;
        background-color: #e44da1;
        text-align: center;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        display: block;
    }
    .gotokimiblog{
        margin-top: 20px;
        text-decoration: none;
        color: #fff;
        background-color: #00a0e9;
        text-align: center;
        height: 20px;
        line-height: 20px;
        padding: 10px;
        display: block;
    }
}

//一覧ページ
#blog {

    .blog-index {

        img {
            float: left;
            margin-bottom: 20px;
            margin-right: 20px;
        }
        li {
            clear: both;
            border-bottom: 1px solid #c5c5c5;
            height: 90px;

            a {
                text-decoration: none;
                color: #333;
            }
        }

        span {
            margin: 0;
        }

        h3 {
            @include fontsize(16);
            font-weight: bold;
            padding: 15px 0;
        }
        .kimiblogcate , .lunchblogcate {
            @include fontsize(11);
        }
    }

    #detail_button {
        height: 12px;
        line-height: 12px;
        border-radius: 20px;
    }
}

//コラム一覧ページ
.cover_area_blog {
    .page_title {
        box-sizing: border-box;
        background-color: lighten($blue1 , 30%);
        height: 120px;
        padding-top: 50px;
    }

    .blog_navi {
        text-align: center;
        box-sizing: border-box;
        background-color: $blue1;
        height: 60px;
        padding-top: 15px;
        a {
           text-decoration: none;
           display: inline-block;
           color:#fff;
           height: 30px;
           line-height: 30px;
           background-color: lighten($blue1, 15%);
           padding: 0 20px;
           margin: 0 10px;
           border-radius: 4px;
        }
    }
}

#blogindex_wrap {
    max-width: 1024px;
    margin: 50px auto;

    .blogindex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            width: 31.3%;
            background-color: #fff;
            margin: 1%;
            box-shadow: 1px 1px 5px #a6a6a6;

            img {
                width: 100%;
            }

            a {
                display: block;
                text-decoration: none;
                color: #333;

                .text {
                    padding: 15px;

                    .blogname {
                        background-color: #00a0e9;
                        border-radius: 6px;
                        @include fontsize(11);
                        text-align: center;
                        color: #fff;
                        padding: 0 10px;
                        height: 16px;
                        line-height: 16px;
                    }

                    h2{
                        @include fontsize(16);
                        margin: 10px 0;
                        font-weight: bold;
                    }

                    p {
                         @include fontsize(13);
                         line-height: 1.5;
                         margin-bottom: 20px;
                    }
                    .date {
                        @include fontsize(12);
                    }
                    .coco {
                        background-color: #e44da1;
                    }
                }
            }
        }
    }

    #detail_button {
        text-align: center;
    }
}

/*ココランチ---------------------------
---------------------------------------------------*/
//カバーエリア
    .cover_area_cocolunch {
        background-image: url("../images/blog/cocolunch.jpg");
        background-size: cover;
        height: 200px;

        @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
          background-image: url("../images/blog/cocolunch@2x.jpg");
        }
    }

//一覧ページ
    #blog {
        .lunchread {
            padding: 15px;
            border: 1px solid #a9a9a9;
            margin-bottom: 50px;
            border-radius: 3px;
        }
        .catorary {
            padding-left: 20px;
        }
    }

    .restaurant_name {
        font-weight: bold;
        @include fontsize(17);
        padding: 15px 0 5px;
    }

//ランチ個別ページ
    .lunchblog-title {
        border-bottom: 1px solid #a9a9a9;
        padding-bottom: 20px;
        h2 {
            padding: 0 0 30px 0;
            @include fontsize(26);
            font-weight: bold;
        }
    }

    .restaurant_text {
        margin: 30px 0;
    }

    .cap {
        @include fontsize(12);
    }

    #blog .lunchblog-title span {
        margin-left: 0;
    }

    .restaurant_info{
        margin: 30px 0;
        padding: 10px;
        border: 1px solid #a9a9a9;
        img {
            float: left;
        }
        p{
            margin-left: 304px;
            @include fontsize(14);
            line-height: 1.5;
            }
    }

    .restaurant_info_name {
        @include fontsize(16);
        font-weight: bold;
        display: block;
        margin: 20px 0 10px;
    }

    .restaurant_info:after {
       display: block;
       clear: both;
       content: "";
    }